<header>
    <div class="header__logo">
        <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>

    <nav class="header__menu">
        <ul class="header__menu__sitio">
             <li><a href="/products/add">Agregar producto</a></li>
            <li><a href="/products/list">productos</a></li>

        </ul>
        <ul class="header__menu__sitio">
            <li><a href="/users/login">Entrar</a></li>
           <li><a href="/users/register"></a>Registrarse</li>
       </ul>
       <ul class="header__menu__sitio">
        <li><a href="/categories/add">Categoria nueva</a></li>
       <li><a href="/categories/list">Categorias</a></li>

   </ul>
        <ul class="header__menu__usuarios">
            
            <li><a href="/">Salir</a></li>
        </ul>
    </nav>
</header>